<!-- Jumbotron -->

<div ng-controller='indexController' class='jumbotron'>
  <div class='container text-center'>
    <h1>Andrew</h1>
    <p>"Coding for a Better Tomorrow"</p>

    <div class='btn-group'>
      <!-- <a href='' class='btn btn-lg btn-warning'>Download App</a> -->
      <a href='' class='btn btn-lg btn-default'>Visit Store</a>
      <!-- <a href='' class='btn btn-lg btn-info'>Spread the Word</a> -->


    </div>
  </div>
</div>
