<div class='row'>
  <div class='col-lg-6'>
    Debating if I want to code this or show a pdf and then have the download link.
  </div>
  <div class='col-lg-6'>
    This is another column
  </div>
</div>
