
<div class='row'>
  <div col='col-lg-10 offset-by-two'>
    <a href='' class='btn btn-warning navbar-btn navbar-right'>Download Resume</a>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <div class='col-lg-10 offset-by-one'>
    Debating if I want to code this or show a pdf and then have the download link.
    </div>
  </div>
  <div class='col-md-6'>
    <div class='col-lg-10 offset-by-one'>
    Debating if I want to code this or show a pdf and then have the download link.
    </div>
  </div>
</div>
